
<%- include('parts/header.ejs')%>
<body>
    <%- include('parts/navbar.ejs')%>

<div class="class container text-center">
    <h3> Create Account</h3>
    <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username">
      <%let usernameObjERR = validationERR.find(err => err.param == "username")%>
      <%if(usernameObjERR) { %>
        <p class="alert alert-danger">
            <%= usernameObjERR.msg%>
        </p>
    <% } %>
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <%let emailObjERR = validationERR.find(err => err.param == "email")%>
      <%if(emailObjERR) { %>
        <p class="alert alert-danger">
            <%= emailObjERR.msg%>
        </p>
    <% } %>
        <input type="password" class="form-control" name="password" placeholder="Password">
        
        <%let passwordObjERR = validationERR.find(err => err.param == "password")%>
        <%if(passwordObjERR) { %>
          <p class="alert alert-danger">
              <%= passwordObjERR.msg%>
          </p>
      <% } %>
      <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
      <%let cpasswordObjERR = validationERR.find(err => err.param == "confirmPassword")%>
      <%if(cpasswordObjERR) { %>
        <p class="alert alert-danger">
            <%= cpasswordObjERR.msg%>
        </p>
    <% } %>
      <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <%if(authSignupERR) { %>
        <p class="alert alert-danger">
            <%= authSignupERR%>          
        </p>    
    <% } %>

    <!-- <%for(let error of validationERR) { %>
        <p class="alert alert-danger">
            <%= error.msg%>
        </p>

        <% } %> -->
    <div>
        Alredy have an account ? <a href="/login"> Login </a>
    </div>
</div>
</body>
<%- include('parts/footer.ejs')%>